* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main{
    display:flexbox;
    margin: 0 auto;
    
}

.about{
    padding-top: 11px;
    padding-left: 30px;
}

.first-heading{
    padding-right: 20px;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

li{
    padding-inline-start: 20px;
    display: inline;
    text-decoration: none;
}

a.link, a:visit {
    background-color: #fd0a0a;
    color: white;
    padding: w4px 5px;
    text-align: center;
    display: inline;
}

a:hover, a:active{
    background-color: rgb(211, 202, 197);
}

.hero-page{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.name{
    font-size: 100px;
    font-family: 'Georgia', 'Times New Roman', Times, serif
}

.about-head{
    padding-top: 10px;
    font-size: small;
}

.navbar{
    position: relative;
    top: 8px;
    right: 16px;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 15px;
    text-align: center;
    padding: 30px;
}

.menu{
    text-decoration: none;
}

.social-link{
    padding: 18px;
    padding-left: 30px;
}

.menu:hover{
    color: rgb(79, 156, 223);
    padding: 45px;
}

.header-wrapper{
    background-color: #e3edf1;
}

.okro, .buns, .rice, .fish{
    float: left;
    width: 50%;
    padding: 15px;
}

.recipes{
    content: "";
    clear: both;
    clear: left;
}

#buns-image{
    width: 210%;   
}

#fish-image{
    width: 220%;
}

#okro-image{
    width: 200%;
}

#rice-image{
    width: 200%;
}

@media screen and (max-with:600px) {
    .recipes{
        width: 100%;
    } 
}

.readmore-button{
    background-color: #020202;
    color: aliceblue;
    border-radius: 20px;
    text-decoration: none;
}


.footer-links {
    margin-right: 40px;
    padding-top: 20px;
    text-align: end;
    right: 16px;
    font-size: 18px;
}

.social-link-footer{
   background-color: #f1e7e71c;
}

.footer-text{
    background-color: #eafcb8;
    margin-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
}

